@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

img{
    max-width: 100%;
}

body{
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

map{
    background-color: brown;
}

.bildcontainer {
    position: relative;
}

.marker {
    position: absolute;
    border: solid;
    display: block;
    border-radius: 50%;
}

a:visited {
    border-color: black;
}
.marker:hover {
    border-color: blue;
}

.marker:active {
    border-color: yellow;
}

.marker:focus {
    border-color: pink;
    outline: none;
}

.marker:focus .click {
    opacity: 1;
}




.content {
    opacity: 0;
    padding: 10px;

    border: solid;

    transition: all .3s;
}

.visible {
    opacity: 1;
    display: block;
}

.content {
    background-image: url("./img/textbox-background.jpg");
    margin: 0;
    position: absolute;
    top:15%;
    left:15%;
    max-height:70vh;
    max-width:70vw;
    font-family: Coming Soon;
    text-align:center;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-shadow: 0px 0px 10px white;
    border:solid;
    border-color: antiquewhite;
}